<div class="content">
  <button
    mat-button
    color="primary"
    [routerLink]="['/products']"
    routerLinkActive="router-link-active"
  >
    CONINUE SHOPPING
  </button>
  <div
    *ngIf="cartService.cartItemCount == 0"
    fxLayout="column"
    fxLayoutAlign="end center"
  >
    <h1>Cart Empty</h1>
  </div>

  <div
    *ngIf="cartService.cartItemCount != 0"
    fxLayout="column"
    fxLayoutGap="16px grid"
  >
    <div fxFlex *ngFor="let product of cartService.products">
      <app-shopping-cart-product-card
        [product]="product"
        (removeFromCart)="removeFromCart($event)"
        (updateOrderTotal)="updateOrderTotal()"
      ></app-shopping-cart-product-card>
    </div>
    <div div fxLayout="row" fxLayoutAlign="end center">
      <h1>Order Total: ${{ cartService.totalPrice | number: "1.2-2" }}</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/checkout']"
        routerLinkActive="router-link-active"
      >
        CHECKOUT
      </button>
    </div>
  </div>
</div>
