<button mat-button color="primary" [routerLink]="['/cart']">
  RETURN TO CART
</button>
<content fxLayout="column" fxLayoutAlign="space-evenly center">
  <mat-card
    class="mat-elevation-z4"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <h1>ORDER SUMMARY:</h1>
    <div *ngFor="let product of cartService.products">
      <mat-divider></mat-divider>
      <h2>
        {{ product.product.title }} - TOTAL PRICE: ${{
          product.totalPrice | number: "1.2-2"
        }}
      </h2>
      <h3>
        Price: ${{ product.product.price | number: "1.2-2" }} - Quantity:
        {{ product.quantity }}
      </h3>
      <mat-divider></mat-divider>
    </div>

    <h1>Total Price: ${{ cartService.totalPrice | number: "1.2-2" }}</h1>
  </mat-card>
</content>
<content fxLayout="column" fxLayoutAlign="space-evenly center">
  <h1>PAYMENT DETAILS:</h1>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <div fxLayout="row">
      <label>Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        minlength="3"
        #name="ngModel"
        [(ngModel)]="customer.name"
        (ngModelChange)="validatename()"
        placeholder="First and Last Name"
      />
      <ng-container *ngIf="!nameValid">
        <div>Valid Name is Required (must be more than 3 characters)</div>
      </ng-container>
    </div>

    <div fxLayout="row">
      <label>Phone Number:</label>
      <input
        type="tel"
        name="phoneNumber"
        minlength="10"
        maxLength="10"
        pattern="[0-9]{10}"
        #phoneNumber="ngModel"
        [(ngModel)]="customer.phoneNumber"
        placeholder="Phone Number"
      />
      <div
        *ngIf="phoneNumber.errors && phoneNumber.dirty && phoneNumber.touched"
        fxLayout="column"
      >
        <div *ngIf="phoneNumber.errors?.['required']">
          Phne Number is required
        </div>
        <div *ngIf="phoneNumber.errors?.['minlength']">
          Phone number must be 10 digits
        </div>
        <div *ngIf="cardNumber.errors?.['pattern']">Invalid Phone Number.</div>
      </div>
    </div>

    <div fxLayout="row">
      <label for="">Card Number:</label>
      <br />
      <input
        type="text"
        id="cardNumber"
        pattern="[0-9]{16}"
        name="cardNumber"
        required
        minlength="16"
        maxlength="16"
        [(ngModel)]="customer.creditCard"
        #cardNumber="ngModel"
        placeholder="Credit Card Number"
      />
      <div
        *ngIf="cardNumber.errors && cardNumber.dirty && cardNumber.touched"
        fxLayout="column"
      >
        <div *ngIf="cardNumber.errors?.['required']">
          Credit Card Number is required
        </div>
        <div *ngIf="cardNumber.errors?.['minlength']">
          Card number must be 16 digits long
        </div>
        <div *ngIf="cardNumber.errors?.['pattern']">Invalid Card Number.</div>
      </div>
    </div>

    <button mat-raised-button type="submit" [disabled]="form.invalid">
      Submit
    </button>
  </form>
</content>
